@media (max-width: 992px) {
  #navBar {
    display: none;
  }
}

@media (max-width: 768px) {
  #head {
    flex-direction: column;
  }

  #videoPlay,
  #infor,
  #myServicesCardPictureBook,
  #myServicesCardGraphicDesign,
  #myServicesCardsandGifts,
  #cardCat,
  #cardCloud,
  #cardSchool,
  #cardPortfolio,
  #figureLeftImg,
  #figureRightImg,
  #partyFiguresImg {
    width: 100%;
  }

  #contactUsImgTag {
    display: none;
  }
}

@media (max-width: 576px) {

  /* #head {
    width: 60%;
  }
  #main {
    width: 60%;
  }
  .footer {
    width: 60%;
  } */
  #contactUsImgTag,
  #Prices {
    display: none;
  }
}

@media (max-width: 400px) {

  #tagCat,
  #tagCloud,
  #tagSchool,
  #tagPortfolio {
    bottom: 8rem;
  }

  #name,
  #phone,
  #email,
  #country,
  #message {
    width: 10rem;
  }
}