@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");

/*main color for header and footer*/
:root {
  --main-Color: linear-gradient(to right, red, yellow);
  --btn-Color: orange;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  grid-gap: 1rem;
  max-width: 1200px;
}

/*header setting*/
header {
  width: 80%;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: var(--main-Color);
  color: black;
  padding: 1rem 1rem;
  align-items: center;
  border-radius: 1rem 1rem 0px 0px;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;

  img {
    width: 10rem;
    margin-right: 1rem;
  }

  .name {
    text-align: center;
    font-size: 1rem;
  }
}

.social p {
  font-size: 1rem;
  margin-top: 10px;
  font-weight: 600;
}

.sprite {
  background-image: url(../src/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block;
  scale: 0.5;
}

.sprite-001-facebook {
  width: 64px;
  height: 64px;
  background-position: -5px -5px;
}

.sprite-002-instagram {
  width: 64px;
  height: 64px;
  background-position: -79px -5px;
}

.sprite-003-twitter {
  width: 64px;
  height: 64px;
  background-position: -5px -79px;
}

.sprite-004-linkedin {
  width: 64px;
  height: 64px;
  background-position: -79px -79px;
}

/*main body setting*/
main {
  width: 80%;
  display: flex;

  /*content left side nav bar*/
  .nav {

    /*animation--nav bar*/
    @keyframes fadeInLeft {
      from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
      }

      to {
        opacity: 1;
        transform: none;
      }
    }

    animation-duration: 1s;
    animation-name: fadeInLeft;
    width: 20%;
    padding: 1rem;
    border-right: 1px solid #ddd;

    li {
      color: #333;
      padding: 0px 0px 50px 0px;
      text-transform: capitalize;
      font-weight: 600;
      list-style: none;
      font-size: large;

      a {
        text-decoration: none;
        position: fixed;
        transition: all 0.8s ease 0s;
        color: black;

        &:hover {
          transform: translateY(-4px);
        }
      }
    }
  }

  /*content right side */
  content {
    width: 100%;
    margin: 1rem auto;
    padding: 0 1rem;

    /*content right side--homepage 1/6 */
    .homepageContent {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 3rem;

      .video {
        width: 50%;
        height: 20rem;

        video {
          width: 100%;
          height: 20rem;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #333;
        padding: 1rem;
        width: 40%;

        /*animation--info*/
        @keyframes fadeInRight {
          from {
            opacity: 0;
            transform: translate3d(100%, 0, 0);
          }

          to {
            opacity: 1;
            transform: none;
          }
        }

        animation-duration: 1s;
        animation-fill-mode: both;
        animation-name: fadeInRight;

        h3 {
          width: 100%;
          font-weight: 800;
        }

        p {
          text-align: justify;
        }

        .btn {
          width: 100%;

          button {
            padding: 1rem 0;
            background-color: var(--btn-Color);
            border: none;
            border-radius: 0.5rem;
            margin-top: 1rem;

            a {
              text-decoration: none;
              padding: 1rem 2rem;
              font-weight: 600;
              color: black;
            }
          }
        }
      }
    }

    /*content right side--myServices 2/6 */
    .title {
      text-align: center;

      h3 {
        font-size: 2rem;
        padding-bottom: 1rem;
      }
    }

    .myServices {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: space-between;

      .myServicesCard {
        width: 30%;

        i {
          font-size: 8rem;
          color: var(--btn-Color);
          padding: 2rem;
        }

        p {
          padding: 2rem 1rem;
        }
      }
    }

    /*content right side--myRecentWorks 3/6 */
    .portfolio {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .card {
        &:hover {
          background-color: rgba(255, 165, 0, 0.6);
          z-index: 1;
        }

        width: 50%;
        height: 30rem;
        position: relative;
        padding: 10px;

        .tag {
          position: absolute;
          bottom: 4rem;
          right: 1rem;
          background-color: var(--btn-Color);
          border-radius: 8px;
          padding: 0.2rem;
        }

        .textinfo {
          position: absolute;
          bottom: 2rem;
          left: 1rem;
        }

        img {
          width: 100%;
          height: 80%;
        }
      }
    }

    /*content right side--figures 4/6 */
    .streetFigures {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .figureLeft {
        padding: 10px;
        width: 66.6%;

        img {
          width: 100%;
        }
      }

      .figureRight {
        width: 33.3%;

        img {
          padding: 10px;
          width: 100%;
        }
      }
    }

    .partyFigures {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 1rem;

      img {
        width: 30%;
        padding: 1rem;
      }
    }

    /*content right side--prices 5/6 */
    .pricesContent {
      display: none;

      .priceSliders {
        margin-bottom: 4rem;

        .sliders {
          width: 32rem;
          height: 20rem;
          border-radius: 50%;
          overflow: hidden;

          .imgSlides {
            position: relative;
            width: 100%;
            display: flex;

            input {
              display: none;
            }

            .slide {
              img {
                width: 32rem;
                height: 20rem;
              }
            }
          }

          .navigation {
            .navigationPosition {
              position: absolute;
              display: flex;
              flex-wrap: wrap;

              .navigationBtn {
                border: 2px solid var(--btn-Color);
                padding: 5px;
                border-radius: 10px;
                cursor: pointer;
                transition: 1s;

                &:hover {
                  background: var(--btn-Color);
                }

                &:not(:last-child) {
                  margin-right: 40px;
                }
              }

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }

        #radio1:checked~.first {
          margin-left: 0;
        }

        #radio2:checked~.first {
          margin-left: -100%;
        }

        #radio3:checked~.first {
          margin-left: -200%;
        }

        #radio4:checked~.first {
          margin-left: -300%;
        }

        #radio5:checked~.first {
          margin-left: -400%;
        }
      }
    }

    /*content right side--contactUs 6/6 */
    .contactUs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .contactUsImg {
        margin-top: 4rem;
        position: relative;

        i {
          font-size: 10rem;
          color: var(--btn-Color);
        }

        h3 {
          position: absolute;
          top: 4rem;
          right: 3rem;
        }
      }

      .contactUsTitle {
        h3 {
          font-size: 2rem;
          text-align: center;
          padding-bottom: 1rem;
        }

        input[type="text"],
        select,
        textarea {
          display: block;
          width: 20rem;
          padding: 0.5rem;
          margin-bottom: 0.5rem;
          border: 1px solid #ccc;
          border-radius: 8px;
        }

        input[type="submit"] {
          background-color: var(--btn-Color);
          margin: 1rem;
          width: 10rem;
          height: 2.5rem;
          border: none;
          border-radius: 0.5rem;
          cursor: pointer;
          font-weight: 600;
        }
      }
    }
  }
}

footer {
  width: 80%;
  background: var(--main-Color);
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  font-size: 0.7rem;
}