@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
/*main color for header and footer*/
:root {
  --main-Color: linear-gradient(to right, red, yellow);
  --btn-Color: orange;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  grid-gap: 1rem;
  max-width: 1200px;
}

/*header setting*/
header {
  width: 80%;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: var(--main-Color);
  color: black;
  padding: 1rem 1rem;
  align-items: center;
  border-radius: 1rem 1rem 0px 0px;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}
.logo img {
  width: 10rem;
  margin-right: 1rem;
}
.logo .name {
  text-align: center;
  font-size: 1rem;
}

.social p {
  font-size: 1rem;
  margin-top: 10px;
  font-weight: 600;
}

.sprite {
  background-image: url(../src/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block;
  scale: 0.5;
}

.sprite-001-facebook {
  width: 64px;
  height: 64px;
  background-position: -5px -5px;
}

.sprite-002-instagram {
  width: 64px;
  height: 64px;
  background-position: -79px -5px;
}

.sprite-003-twitter {
  width: 64px;
  height: 64px;
  background-position: -5px -79px;
}

.sprite-004-linkedin {
  width: 64px;
  height: 64px;
  background-position: -79px -79px;
}

/*main body setting*/
main {
  width: 80%;
  display: flex;
  /*content left side nav bar*/
  /*content right side */
}
main .nav {
  /*animation--nav bar*/
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
  width: 20%;
  padding: 1rem;
  border-right: 1px solid #ddd;
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
main .nav li {
  color: #333;
  padding: 0px 0px 50px 0px;
  text-transform: capitalize;
  font-weight: 600;
  list-style: none;
  font-size: large;
}
main .nav li a {
  text-decoration: none;
  position: fixed;
  transition: all 0.8s ease 0s;
  color: black;
}
main .nav li a:hover {
  transform: translateY(-4px);
}
main content {
  width: 100%;
  margin: 1rem auto;
  padding: 0 1rem;
  /*content right side--homepage 1/6 */
  /*content right side--myServices 2/6 */
  /*content right side--myRecentWorks 3/6 */
  /*content right side--figures 4/6 */
  /*content right side--prices 5/6 */
  /*content right side--contactUs 6/6 */
}
main content .homepageContent {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
main content .homepageContent .video {
  width: 50%;
  height: 20rem;
}
main content .homepageContent .video video {
  width: 100%;
  height: 20rem;
}
main content .homepageContent .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #333;
  padding: 1rem;
  width: 40%;
  /*animation--info*/
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
main content .homepageContent .info h3 {
  width: 100%;
  font-weight: 800;
}
main content .homepageContent .info p {
  text-align: justify;
}
main content .homepageContent .info .btn {
  width: 100%;
}
main content .homepageContent .info .btn button {
  padding: 1rem 0;
  background-color: var(--btn-Color);
  border: none;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
main content .homepageContent .info .btn button a {
  text-decoration: none;
  padding: 1rem 2rem;
  font-weight: 600;
  color: black;
}
main content .title {
  text-align: center;
}
main content .title h3 {
  font-size: 2rem;
  padding-bottom: 1rem;
}
main content .myServices {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
}
main content .myServices .myServicesCard {
  width: 30%;
}
main content .myServices .myServicesCard i {
  font-size: 8rem;
  color: var(--btn-Color);
  padding: 2rem;
}
main content .myServices .myServicesCard p {
  padding: 2rem 1rem;
}
main content .portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main content .portfolio .card {
  width: 50%;
  height: 30rem;
  position: relative;
  padding: 10px;
}
main content .portfolio .card:hover {
  background-color: rgba(255, 165, 0, 0.6);
  z-index: 1;
}
main content .portfolio .card .tag {
  position: absolute;
  bottom: 4rem;
  right: 1rem;
  background-color: var(--btn-Color);
  border-radius: 8px;
  padding: 0.2rem;
}
main content .portfolio .card .textinfo {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
}
main content .portfolio .card img {
  width: 100%;
  height: 80%;
}
main content .streetFigures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main content .streetFigures .figureLeft {
  padding: 10px;
  width: 66.6%;
}
main content .streetFigures .figureLeft img {
  width: 100%;
}
main content .streetFigures .figureRight {
  width: 33.3%;
}
main content .streetFigures .figureRight img {
  padding: 10px;
  width: 100%;
}
main content .partyFigures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 1rem;
}
main content .partyFigures img {
  width: 30%;
  padding: 1rem;
}
main content .pricesContent {
  display: none;
}
main content .pricesContent .priceSliders {
  margin-bottom: 4rem;
}
main content .pricesContent .priceSliders .sliders {
  width: 32rem;
  height: 20rem;
  border-radius: 50%;
  overflow: hidden;
}
main content .pricesContent .priceSliders .sliders .imgSlides {
  position: relative;
  width: 100%;
  display: flex;
}
main content .pricesContent .priceSliders .sliders .imgSlides input {
  display: none;
}
main content .pricesContent .priceSliders .sliders .imgSlides .slide img {
  width: 32rem;
  height: 20rem;
}
main content .pricesContent .priceSliders .sliders .navigation .navigationPosition {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}
main content .pricesContent .priceSliders .sliders .navigation .navigationPosition .navigationBtn {
  border: 2px solid var(--btn-Color);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
main content .pricesContent .priceSliders .sliders .navigation .navigationPosition .navigationBtn:hover {
  background: var(--btn-Color);
}
main content .pricesContent .priceSliders .sliders .navigation .navigationPosition .navigationBtn:not(:last-child) {
  margin-right: 40px;
}
main content .pricesContent .priceSliders .sliders .navigation .navigationPosition:last-child {
  margin-right: 0;
}
main content .pricesContent .priceSliders #radio1:checked ~ .first {
  margin-left: 0;
}
main content .pricesContent .priceSliders #radio2:checked ~ .first {
  margin-left: -100%;
}
main content .pricesContent .priceSliders #radio3:checked ~ .first {
  margin-left: -200%;
}
main content .pricesContent .priceSliders #radio4:checked ~ .first {
  margin-left: -300%;
}
main content .pricesContent .priceSliders #radio5:checked ~ .first {
  margin-left: -400%;
}
main content .contactUs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main content .contactUs .contactUsImg {
  margin-top: 4rem;
  position: relative;
}
main content .contactUs .contactUsImg i {
  font-size: 10rem;
  color: var(--btn-Color);
}
main content .contactUs .contactUsImg h3 {
  position: absolute;
  top: 4rem;
  right: 3rem;
}
main content .contactUs .contactUsTitle h3 {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 1rem;
}
main content .contactUs .contactUsTitle input[type=text],
main content .contactUs .contactUsTitle select,
main content .contactUs .contactUsTitle textarea {
  display: block;
  width: 20rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}
main content .contactUs .contactUsTitle input[type=submit] {
  background-color: var(--btn-Color);
  margin: 1rem;
  width: 10rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 600;
}

footer {
  width: 80%;
  background: var(--main-Color);
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  font-size: 0.7rem;
}/*# sourceMappingURL=style.css.map */